{
  "cniVersion": "0.3.1",
  "name": "kokonet",
  "type": "kokonet",
  "interfaces" : ["in", "out"],
  "vtep_ip": "<ADD VPP IP>",
  "vtep_parent_if": "<ADD datapath interface(e.g. eth1)>",
  "vtep_src_ip": "<ADD vtep_parent_if IP>", 
  "controller_uri": "http://10.1.1.1/",
  "etcd_host": "localhost",
  "etcd_port": "5656",
  "delegate": {
    	"type": "bridge",
	"bridge": "cni0",
	"isGateway": true,
	"ipMasq": true,
	"ipam": {
		"type": "host-local",
		"subnet": "10.22.0.0/16",
                "gateway": "10.22.0.1",
		"routes": [
			{ "dst": "0.0.0.0/0" }
		]
	}
  }
}
