{
  "cniVersion": "0.3.1",
  "name": "kokonet-cni",
  "type": "kokonet-cni",
  "interfaces" : ["in", "out"],
  "vtep_ip": "<ADD VPP IP (e.g. 10.0.0.10)>",
  "vtep_parent_if": "<ADD datapath interface(e.g. eth1)>",
  "vtep_src_ip": "<ADD vtep_parent_if IP (e.g. 10.0.0.21)>", 
  "controller_uri": "<ADD controller_url (e.g. http://10.1.1.1/)>",
  "etcd_host": "<ADD kokonet-etcd ip (e.g. 10.0.0.21)>",
  "etcd_port": 2379, "<Change if the port is changed>"
  "delegate": {
	"<ADD CNI definition for admin plane as following>"
	------ sample
    	"type": "bridge",
	"bridge": "cni0",
	"isGateway": true,
	"ipMasq": true,
	"ipam": {
		"type": "host-local",
		"subnet": "10.22.0.0/16",
                "gateway": "10.22.0.1",
		"routes": [
			{ "dst": "0.0.0.0/0" }
		]
	}
	------ sample end
  }
}
